body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.search-form {
  text-align: center;
}
.hidden {
  display: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.loader {
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #ff3d00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #fff;
  transform: translateX(10px);
}

@keyframes split {
  0%,
  25% {
    width: 64px;
  }
  100% {
    width: 148px;
  }
}

.is-hidden {
  display: none;
}

.search-box {
  display: flex;
  background: #fff;
  padding: 32px;
  align-items: center;
  justify-content: center;
}

input {
  width: 272px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #fff;
  padding: 8px 16px;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  /* width: 91px;
  height: 40px; */
  padding: 8px 16px;
  margin-left: 8px;
  outline: none;
  cursor: pointer;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #6c8cff;
  color: #ffffff;
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.photo-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.photo-card__info {
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
  width: 100%;
  color: #2e2f42;
}

.photo-card__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
  gap: 4px;
}

.hidden {
  display: none;
}

.load-more {
  width: 150px;
  padding: 8px 26px;
  margin-top: 20px;
  position: relative;
}

.loader-btn {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  margin: -10px 0 0 -10px;
  border: 3px solid #ccc;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  display: flex;
  align-items: center;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  background-color: #4e75ff;
  color: #ffffff;
  transition: background-color color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
}
.hidden {
  display: none;
}
